extends layout

block mainContent
    div.content
        article.portfolio-item.clearfix
            header.portfolio-info
                div.resume-category
                    h1.resume-section#skills Skills
            figure.portfolio-image.clearfix
                - each skill in skills
                    div.resume-body
                        h2.resume-date= skill.date
                        if admin === 'jcurray'
                            a(href="/about/#{skill._id}/edit-skill")
                                h1.resume-header= skill.header
                        else
                            h1.resume-header= skill.header
                        h2.resume-subheader
                        pre.resume-description= skill.description
            header.portfolio-info
                div.resume-category
                    h1.resume-section#experience Experience
            figure.portfolio-image.clearfix
                - each experience in experiences
                    div.resume-body
                        h2.resume-date= experience.date
                        if admin === 'jcurray'
                            a(href="/about/#{experience._id}/edit-experience")
                                h1.resume-header= experience.header
                        else
                            h1.resume-header= experience.header
                        h2.resume-subheader= experience.subheader
                        ul.resume-list
                            li= experience.list1
                            li= experience.list2
                            li= experience.list3
            header.portfolio-info
                div.resume-category
                    h1.resume-section#education Education
            figure.portfolio-image.clearfix
                - each education in educations
                    div.resume-body
                        h2.resume-date 
                        if admin === 'jcurray'
                            a(href="/about/#{education._id}/edit-education")
                                h1.resume-header= education.header
                        else
                            h1.resume-header= education.header
                        h2.resume-subheader= education.subheader
                        pre.resume-description= education.description