extends layout
block append mainContent
  div
    h1 Edit Project
    form(role="form" id='update' action='/projects/#{project._id}/edit' method='post')
      input(type='hidden', name='_method', value='put')
      div
        label(for="name") Name: 
        input(type="text" id="name" name="name" value='#{project.name}')
      div
        label(for="url") URL: 
        input(type="text" id="url" name="url" value='#{project.url}')
      div
        label(for="imgURL") Image URL: 
        input(type="text" id="imgURL" name="imgURL" value='#{project.imgURL}')
      div
        label(for="description") Description: 
        textarea(name="description" id="description" rows=20 value='#{project.description}')= project.description
      button(type="submit") Update Project
    form(role="form" id='delete' action='/projects/#{project._id}' method='post')
      input(type='hidden' name='_method' value='delete')
      button(type="submit") Delete Project